.sidebarButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  background: none;
  color: var(--text-secondary);
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.sidebarButton:hover {
  background-color: var(--background-light);
  color: var(--text-primary);
}

.sidebarButton svg {
  font-size: 1.2rem;
}
