.container {
  padding: 2rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.card {
  background-color: var(--background-light);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  color: var(--text-primary);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  width: 280px;
}

.card:hover {
  border-color: var(--primary);
  transform: translateY(-5px);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.overviewCard {
    border: 1px solid var(--accent-red);
}

.overviewCard:hover {
    border-color: var(--accent-red);
}

.overviewContent {
    padding: 1.5rem;
    text-align: center;
}

.overviewIcon {
    font-size: 3rem;
    color: var(--accent-red);
    margin-bottom: 1rem;
}

.overviewContent h2 {
    margin: 0;
    font-size: 1.25rem;
    color: var(--accent-red);
}

.overviewContent p {
    margin: 0;
    font-size: 0.875rem;
    color: var(--text-secondary);
}

.cardHeader {
  padding: 1.5rem;
}

.cardHeader h2 {
  margin: 0;
  font-size: 1.25rem;
  color: var(--text-primary);
}

.cardHeader p {
    margin: 0;
    font-size: 0.875rem;
    color: var(--text-secondary);
}

.cardBody {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stat {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1rem;
    color: var(--text-secondary);
}

.cardFooter {
  padding: 1rem 1.5rem;
  border-top: 1px solid var(--border-color);
  text-align: center;
  font-size: 0.875rem;
  color: var(--text-secondary);
  margin-top: 1.5rem;
}

.totalGrossStat {
    font-weight: 700;
    color: white;
}
