.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
  background-color: var(--background-light);
  color: var(--text-primary);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  border-right: 1px solid var(--border-color);
}

.logoContainer h1 {
    letter-spacing: -0.1em;
}

.mainNav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

.sidebarBottom {
  padding-top: 20px;
  border-top: 1px solid var(--border-color);
  overflow: hidden;
  text-overflow: ellipsis;
}
